body{
    background-color: lightgray;
    margin-top: 100px;
}
h1{
    text-align: center;
}
img{
    height: 200px;
    display: flexbox;
    justify-content: center;
}
png{
    height: 200px;
    display: flex;
    justify-content: center;
}
gif{
    height: 200px;
    display: flex;
    justify-content: center;
}
.container{
margin: 10px;
}

.container1{
    width: 900px;
    height: 250px;
    background-color: lightskyblue;  
    margin: 10px;
    padding: 10px;
} 

#octocat1{
    display: flex;
    justify-content: center;
    margin: 10px;
    display: flexbox;
    justify-content: space-evenly;
}

.container2{
    width: 900px;
    height: 250px;
    background-color: pink;  
    margin: 10px;
    padding: 10px;
} 

#octocat2{
    display: flex;
    justify-content: center;
    margin: 10px;
    display: flexbox;
    justify-content: space-evenly;
}
.container3{
    width: 900px;
    height: 250px;
    background-color: white;  
    margin: 10px;
    padding: 10px;
} 

#octocat3{
    display: flex;
    justify-content: center;
    margin: 10px;
    display: flexbox;
    justify-content: space-evenly;
}


